*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

body{
    display: flex;
    background-color: #1C202C;
}

/* CIRCLES */

@mixin circles(){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s
}

.circle-1{
    @include circles;
    background-color: #E20E46;
    clip-path: circle(50% at right 120%);
    transform: rotateY(180deg);
}

.circle-2{
    @include circles;
    background-color: #EBB02A;
    clip-path: circle(40% at right 120%);
    transform: rotateX(180deg);
}

/* SIDENAV */

@mixin glass($a: 0.2){
    background: rgba(255, 255, 255, $a);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-right: 0px solid rgba(255, 255, 255, 0.3);
}

.sidenav{
    @include glass;
    display: flex;
    padding: 1vh 2vh;
    width: 10vh;
    min-width: 10vh;
    height: 100vh;
    transition: 0.5s;
    flex-direction: column;
    overflow-x: hidden;
    
    .btn-nav{
        @include glass($a: 0.05);
        border-radius: 6px;
        padding: 1px 5px;
        margin: 2vh 0;
        border: 0;
        width: 5.9vh;
        min-width: 5.9vh;
        aspect-ratio : 1 / 1;
        cursor: pointer;
        transition: 0.2s;
        font-size: 3vh;

            p{
                transition: 0.5s;
                font-size: 3.5vh;
                transform: rotate(45deg);
            }
    }

    .btn-nav:hover{
        background: rgba(255, 255, 255, 0.15);
    }

    .btn-nav.active, .btn-nav.active:hover{
        background: rgba(255, 255, 255, 0.35);
    }

    .btn-nav.active + a{
        font-weight: 600;
    }

    .btn-menu{
        margin-bottom: 7.5vh;
    }

    .div-btn{
        display: flex;
        align-items: center;

        a{
            display: flex;
            flex-wrap: wrap;
            font-size: 2vh;
            padding: 0.7vh 2vh 0.7vh 0;
            text-transform: uppercase;
            margin-left: 2.15vh;
            font-weight: 500;
            text-decoration: none;
            width: 100%;
            cursor: pointer;
            transition: 0.1s;
        }
    }

    .btn-config{
        margin-top: auto;
    }
}

.sidenav.active{
    width: 40vh;
    min-width: 40vh;

    .btn-nav{
        p{
            transform: rotate(180deg) translateY(-0.15vh);
        }
    }
}

/* CONTAINERS */

.container{
    @include glass;
    display: none;
    flex-direction: column;
    border-radius: 12px;
    margin: 6vh;
    padding: 3vh;
    width: 100%;
    transition: 0.2s;

    h1{
        font-size: 4vh;
    }
    
    h3{
        font-size: 3vh;
        padding-top: 5vh;
    }
    
    hr{
        width: 75%;
        border-color: rgba(255, 255, 255, 0.4);
        margin-top: 1.5vh;
    }
}

.container.active{
    display: flex;
}

/* CLIENTES E FORNECEDORES */

#cadastro{

    .flex{
        padding-top: 3vh;
        display: flex;

        .search{
            @include glass;
            display: flex;
            border-radius: 1vh;
            width: 36vh;

            input{
                outline: none;
                background: transparent;
                border: 0;
                width: 100%;
                align-items: center;
                padding-left: 1vh;
                font-size: 1.75vh;

                &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                }
            }

            button{
                background: transparent;
                border: none;
                aspect-ratio: 1/1;
                cursor: pointer;
                transition: 0.2s;
                font-size: 2.5vh;

                &:hover{
                    background-color: #ffffff10;
                }
            }
        }

        .filter{
            display: flex;
            padding-left: 1.5vh;
            z-index: 111;

            button{
                @include glass;
                aspect-ratio: 1/1;
                border: 0;
                border-radius: 1vh;
                cursor: pointer;
                transition: 0.2s;
                font-size: 2.5vh;
                z-index: 1111;

                &:hover{
                    background-color: #ffffff46;
                }
            }

            .filter-box{
                opacity: 0;
                pointer-events: none;
                @include glass;
                padding: 2.5vh 1.5vh;
                margin: 6vh 0 0 -12.7vh;
                position: fixed;
                width: 30vh;
                border-radius: 1vh;
                font-size: 2vh;
                transition: 0.3s;
                display: flex;
                flex-direction: column;

                &:before {
                    content: '';
                    left: 13vh;
                    position: absolute;
                    bottom: 100%;
                    border: 2vh solid transparent;
                    border-bottom-color: #ffffff33;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(10px);
                }

                &.active{
                    opacity: 1;
                    pointer-events: all;
                    margin-top: 7vh;
                }

                h5{
                    font-size: 2.4vh;
                    padding-bottom: 1.2vh;
                }

                p{
                    font-size: 1.8vh;
                    padding-bottom: .5vh;
                }

                @mixin input_filter(){
                    width: 100%;
                    color: #fff;
                    height: 4vh;
                    border: .3vh solid #fff;
                    border-radius: 1vh;
                    background-color: transparent;
                    padding: 0 1vh;
                    outline: none;
                    margin-bottom: 1.5vh;
                    font-size: 1.6vh;
                }

                select{
                    @include input_filter;
                    cursor: pointer;

                    option{
                        color: #000;
                    }
                }

                input{
                    @include input_filter;
                }

                button{
                    font-size: 2vh;
                    padding: .8vh 2vh;
                    aspect-ratio: 0;
                    margin: 1vh auto 0 auto;
                }
            }
        }

        .add{
            display: flex;
            background-color: #E20E46;
            border: 0;
            border-radius: .8vh;
            font-size: 1.6vh;
            font-weight: 700;
            align-items: center;
            justify-content: center;
            padding: 1vh;
            transition: 0.2s;
            cursor: pointer;
            margin-left: auto;

            &:hover{
                background-color: #cf0c40;
            }

            a{
                font-size: 1.8vh;
                font-weight: 700;
                padding-right: 0.5vh;
            }
        }
    }
}

/* CONFIGURAÇÕES: CHECKBOX */

.config{
    display: flex;
    padding-top: 4vh;

    .switch {
        position: relative;
        width: 6.2vh;
        height: 3.35vh;
    
        input { 
            display: none;
        }
    
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.5);
            transition: .3s;
    
            &:before {
                position: absolute;
                content: "";
                height: 2.5vh;
                width: 2.5vh;
                left: 0.6vh;
                bottom: 0.4vh;
                background-color: #fff;
                transition: .3s;
            }
        }
    
        input:checked + .slider {
            background-color: #EBB02A;
    
            &:before{
                transform: translateX(2.4vh);
            }
        }
        
        .slider.round {
            border-radius: 34px;
    
            &:before{
                border-radius: 50%;
            }
        }
    }

    p{
        display: flex;
        font-size: 2.1vh;
        align-items: center;
        padding-left: 1.5vh;
    }
}

/* DARK MODE */

body.active{
    
    .circle-1, .circle-2{
        opacity: 0;
    }

    .sidenav{
        background: #252731;
        backdrop-filter: blur(0px);
    }

    .container{
        background: #252731;
        backdrop-filter: blur(0px);
    }
}