@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

body {
  display: flex;
  background-color: #1C202C;
}

/* CIRCLES */
.circle-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  background-color: #E20E46;
  -webkit-clip-path: circle(50% at right 120%);
          clip-path: circle(50% at right 120%);
  transform: rotateY(180deg);
}

.circle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  background-color: #EBB02A;
  -webkit-clip-path: circle(40% at right 120%);
          clip-path: circle(40% at right 120%);
  transform: rotateX(180deg);
}

/* SIDENAV */
.sidenav {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  padding: 1vh 2vh;
  width: 10vh;
  min-width: 10vh;
  height: 100vh;
  transition: 0.5s;
  flex-direction: column;
  overflow-x: hidden;
}
.sidenav .btn-nav {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  padding: 1px 5px;
  margin: 2vh 0;
  border: 0;
  width: 5.9vh;
  min-width: 5.9vh;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: 0.2s;
  font-size: 3vh;
}
.sidenav .btn-nav p {
  transition: 0.5s;
  font-size: 3.5vh;
  transform: rotate(45deg);
}
.sidenav .btn-nav:hover {
  background: rgba(255, 255, 255, 0.15);
}
.sidenav .btn-nav.active, .sidenav .btn-nav.active:hover {
  background: rgba(255, 255, 255, 0.35);
}
.sidenav .btn-nav.active + a {
  font-weight: 600;
}
.sidenav .btn-menu {
  margin-bottom: 7.5vh;
}
.sidenav .div-btn {
  display: flex;
  align-items: center;
}
.sidenav .div-btn a {
  display: flex;
  flex-wrap: wrap;
  font-size: 2vh;
  padding: 0.7vh 2vh 0.7vh 0;
  text-transform: uppercase;
  margin-left: 2vh;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  transition: 0.1s;
}
.sidenav .btn-config {
  margin-top: auto;
}

.sidenav.active {
  width: 40vh;
  min-width: 40vh;
}
.sidenav.active .btn-nav p {
  transform: rotate(180deg) translateY(-0.15vh);
}

/* CONTAINERS */
.container {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: none;
  flex-direction: column;
  border-radius: 12px;
  margin: 6vh;
  padding: 3vh;
  width: 100%;
  transition: 0.2s;
}
.container h1 {
  font-size: 4vh;
}
.container h3 {
  font-size: 3vh;
  padding-top: 5vh;
}
.container hr {
  width: 75%;
  border-color: rgba(255, 255, 255, 0.4);
  margin-top: 1.5vh;
}

.container.active {
  display: flex;
}

/* CHECKBOX: CONFIGURAÇÕES */
.config {
  display: flex;
  padding-top: 4vh;
}
.config .switch {
  position: relative;
  width: 6vh;
  height: 3.3vh;
}
.config .switch input {
  display: none;
}
.config .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.config .switch .slider:before {
  position: absolute;
  content: "";
  height: 2.5vh;
  width: 2.5vh;
  left: 0.6vh;
  bottom: 0.4vh;
  background-color: #fff;
  transition: 0.3s;
}
.config .switch input:checked + .slider {
  background-color: #EBB02A;
}
.config .switch input:checked + .slider:before {
  transform: translateX(2.2vh);
}
.config .switch .slider.round {
  border-radius: 34px;
}
.config .switch .slider.round:before {
  border-radius: 50%;
}
.config p {
  display: flex;
  font-size: 2.1vh;
  align-items: center;
  padding-left: 1.5vh;
}

/* DARK MODE */
body.active .circle-1, body.active .circle-2 {
  opacity: 0;
}
body.active .sidenav {
  background: rgb(61, 61, 61);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}
body.active .container {
  background: rgb(61, 61, 61);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}/*# sourceMappingURL=style.css.map */